body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  height: calc(100vh - 64px);
  margin-top: 60px;
}

.sidebar {
  width: 25%;
  background: linear-gradient(180deg, rgba(234, 98, 208, 0.50) 0%, rgba(75, 131, 189, 0.50) 100%);
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  z-index: 1002;
  position: fixed;
  left: 0;
  top: 77px;
  bottom: 0;
  overflow-y: auto;
}
.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background: linear-gradient(180deg, rgba(234, 98, 208, 0.10) 0%, rgba(75, 131, 189, 0.10) 100%);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.messages::-webkit-scrollbar {
  width: 10px;
}

.messages::-webkit-scrollbar-track {
  background: #EDEDED;
}

.messages::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(234, 98, 208, 0.50) 0%, rgba(75, 131, 189, 0.50) 100%);
  border-radius: 20px;
}

.sidebar h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;

}

.sidebar .event {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
  stroke : white;
  stroke-width: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
}

/* General Styles for the chat area */
.chat-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  max-width: 75%;
  max-height: calc(100% - 10px);
  margin-left: 28%;
}

/* Styles for the messages container */
.messages {
  padding-right: 10px;
  overflow-y: auto;
  flex-grow: 1;

}

/* Styles for individual message containers */
.message-container {
  display: flex;
  margin: 10px 0;

}

.message-container.user {
  justify-content: flex-end;
}

.message-container.bot {
  justify-content: flex-start;
}

/* Profile picture styling */
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 3px;
  padding-right: 10px;
}

/* Message bubble styles */
.message {
  max-width: 60%;
  padding: 10px;
  border-radius: 20px; /* More rounded corners for WhatsApp-like look */
  overflow-wrap: break-word;
  position: relative;
}

.message.user {
  background-color: #EDEDED; /* WhatsApp green for sent messages */
  color: black;
  border-radius: 10px 10px 0 10px; /* Rounded corners */
  margin-right: 10px;
}

.message.user::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -11px; /* Adjust based on the size of the tail */
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-left-color: #4385BC; /* Match the background color */
  border-right: 0;
  border-bottom: 0;
}

.message.bot {
  background-color: #FFF; /* White background for received messages */
  color: black;
  border-radius: 0 10px 10px 10px; /* Rounded corners */
}

.message.bot::before {
  content: '';
  position: absolute;
  top: 0;
  left: -12px; /* Adjust based on the size of the tail */
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-right-color: #EDEDED;
  border-bottom: 10px solid #EDEDED;
  border-top: 0;
  transform: scaleX(-1) rotate(180deg);
}

.message-container {
  display: flex;
  margin: 25px 0;
}

.message-container.user {
  justify-content: flex-end;
}

.message-container.bot {
  justify-content: flex-start;
}

.message.user {
  background-color: #4385BC;
  align-self: flex-end;
  color: white;
  max-width: 60%;
  overflow-wrap: break-word;
}

.message.bot {
  margin-top: 9px;
  background-color: #EDEDED;
  align-self: flex-start;
}



